---
import Icon from "@components/ui/icons/Icon.astro";
// Destructure the properties from Astro.props
const { title, url, noArrow, className } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title?: string | null;
  url?: string | null;
  noArrow?: boolean | null;
  className?: string | null;
  color?: "primary" | "secondary";
}
// Define CSS classes for styling the button
const baseClasses =
  "cursor-pointer group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 leading-[1.2] text-white ring-primary transition duration-300 focus-visible:ring-3 outline-hidden";
const borderClasses = "border border-transparent";
const bgColorClasses = "bg-primary hover:bg-primary-hover active:bg-primary-hover";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "text-lg";
const ringClasses = "dark:ring-primary";
---

<!-- Link styled as a button, with dynamic title, URL, and optional arrow -->
<a
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses} ${className}`}
  href={url}
>
  {title}
  <!-- Display the arrow based on the 'noArrow' property -->

  {noArrow ? null : <Icon name="arrowRight" />}
</a>
