---
// Destructure the properties from Astro.props
const { title, url, arrow, className, ...rest } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title?: string | null;
  url?: string | null;
  arrow?: boolean | null;
  className?: string | null;
}
// Define CSS classes for the hyperlink button

const baseClasses =
  "cursor-pointer inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-center font-bold  text-currentColor shadow-xs outline-hidden ring-currentColor focus-visible:ring-3 transition duration-300";
const borderClasses = "border border-currentColor";
const bgColorClasses = "bg-transparent";
const hoverClasses = "hover:bg-white/10 active:text-neutral-700";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "text-lg";
const ringClasses = "ring-currentColor";
---

<!-- Styled hyperlink -->
<a
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses} ${className} group/button`}
  href={url}
  {...rest}
>
  {title}
  {
    arrow ? (
      <svg
        width="22"
        height="15"
        viewBox="0 0 22 15"
        fill="none"
        class="duration-300 ease-in-out group-hover/button:translate-x-1.5"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.1667 13.5L20.5 7.5M20.5 7.5L14.1667 1.5M20.5 7.5H1.5"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    ) : (
      ""
    )
  }
</a>
