---
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";

import { buildStrapiResponsive } from "@/utils/strapiImg";
import SectionCorner from "../SectionCorner.astro";
import type { StrapiImageType } from "@/types/common";

interface Props {
  title: string;
  subtitle?: string | null;
  primaryBtnLabel?: string | null;
  primaryBtnURL?: string | null;
  secondaryBtnLabel?: string | null;
  secondaryBtnURL?: string | null;
  bgImgSrc?: StrapiImageType;
  bgImgAlt?: string | null;
  altBgImage?: StrapiImageType;
  altBgImageText?: string | null;
  __typename: string;
}

const { title, subtitle, primaryBtnLabel, primaryBtnURL, secondaryBtnLabel, secondaryBtnURL, bgImgSrc, bgImgAlt, altBgImage, __typename } =
  Astro.props;

let builtImg = null;
let builtAltImg = null;

if (bgImgSrc) {
  builtImg = buildStrapiResponsive(bgImgSrc);
}

if (altBgImage) {
  builtAltImg = buildStrapiResponsive(altBgImage);
}
---

<section
  class=`${__typename} relative flex min-h-[636px] items-center gap-4 px-4 py-14 pt-[104px] pb-40 md:min-h-[700px] md:items-center md:gap-8 md:px-10 md:pt-[100px] md:pb-16`
  data-alt-img-src={`${altBgImage?.url}`}
>
  <div class="mx-auto h-fit max-w-7xl">
    {
      builtImg && (bgImgAlt || bgImgSrc) && (
        <div class="hero-img pointer-events-none absolute top-0 left-0 -z-20 h-full w-full overflow-hidden bg-white md:h-[700px]">
          <Image
            src={builtImg.src}
            width={builtImg.width}
            height={builtImg.height}
            alt={bgImgAlt || bgImgSrc}
            srcset={builtImg.srcset}
            sizes="(max-width: 500px) 500px, 100vw"
            alt={builtImg.alt ?? bgImgAlt ?? "background image"}
            draggable={"false"}
            loading={"eager"}
            fetchpriority={"high"}
            class="h-full w-full scale-110 object-cover object-center"
          />
          <SectionCorner position="bottom-right" className="text-[#f7f7f7]" />
        </div>
      )
    }
    {
      builtAltImg && (bgImgAlt || bgImgSrc) && (
        <div class="night-hero-img hidden pointer-events-none absolute top-0 left-0 -z-20 h-full w-full overflow-hidden bg-white md:h-[700px]">
          <Image
            src={builtAltImg.src}
            width={builtAltImg.width}
            height={builtAltImg.height}
            alt={bgImgAlt || bgImgSrc}
            srcset={builtAltImg.srcset}
            sizes="(max-width: 500px) 500px, 100vw"
            alt={builtAltImg.alt ?? bgImgAlt ?? "background image"}
            draggable={"false"}
            loading={"eager"}
            fetchpriority={"high"}
            class="h-full w-full scale-110 object-cover object-center"
          />
          <SectionCorner position="bottom-right" className="text-[#f7f7f7]" />
        </div>
      )
    }
    <div data-aos="fade-in" data-aos-delay="500" data-aos-once="true" class="flex flex-col items-center justify-center">
      <h1
        class="block text-center text-[40px] leading-[120%] font-black text-wrap text-white lg:text-[52px] dark:text-neutral-200"
      >
        <Fragment set:html={title} />
      </h1>
      {
        subtitle && (
          <p class="mx-auto mt-3 w-full text-center text-lg leading-relaxed text-pretty text-white md:max-w-[742px]">
            {subtitle}
          </p>
        )
      }
      <div class="mt-7 grid w-full gap-3 sm:inline-flex sm:justify-center">
        {
          primaryBtnLabel && primaryBtnURL && (
            <PrimaryCTA title={primaryBtnLabel} url={primaryBtnURL} noArrow className="w-full md:min-w-[330px] md:w-fit h-14" />
          )
        }
        {
          secondaryBtnLabel && secondaryBtnURL && (
            <SecondaryCTA
              title={secondaryBtnLabel}
              url={secondaryBtnURL}
              arrow
              className="w-full md:min-w-[330px] md:w-fit h-14 text-white"
            />
          )
        }
      </div>
    </div>
  </div>
</section>

<style>
  img {
    filter: brightness(0.3);
  }
</style>

<script>
  const heroSection = document.querySelectorAll('section.ComponentSectionsHero') as NodeListOf<HTMLElement>;

  heroSection.forEach(heroSection => {
    const heroImgElement = heroSection.querySelector('.hero-img')
    const nightHeroImgElement = heroSection.querySelector('.night-hero-img')

    if (!heroImgElement) return;

    const now = new Date();
    const hour = now.getHours();

    const isNight = hour >= 18 || hour < 6;

    if (isNight && !heroSection.dataset.altImgSrc) {
      heroImgElement?.classList.add('hidden')
      nightHeroImgElement?.classList.remove('hidden')
    } else {
      heroImgElement?.classList.remove('hidden')
    }
  });
</script>