---
import WhyUsItem from "../pros/WhyUsItem.astro";
import SectionCorner from "../SectionCorner.astro";

const { title, whyUsItems, id, __typename } = Astro.props;

export interface IWhyUsItem {
  iconStr: string;
  title: string;
  description: string;
}

export interface WhyUsProps {
  title: string;
  whyUsItems?: IWhyUsItem[];
  id: string;
  __typename: string;
}

interface Props extends WhyUsProps {}
---

<section
  class={`${__typename} bg-primary relative mx-auto gap-8 px-4 py-[100px] selection:bg-white! selection:text-[#524CF2]! md:items-center md:gap-8 md:py-[134px] xl:px-10`}
  id={`${__typename}-${id}`}
>
  <SectionCorner className="text-gray-10" position="top-left" />
  <SectionCorner className="text-[white]" position="bottom-right" />

  <div class="m-auto flex max-w-7xl flex-col text-white" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
    <h1
      class="  block text-center text-[32px] leading-[120%] font-black text-balance whitespace-pre-line md:text-[52px] lg:text-[52px] dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h1>

    {
      whyUsItems && (
        <ul class="why-us-list mt-[90px] flex w-full flex-col items-center justify-center gap-12 sm:grid sm:justify-items-center md:grid-cols-2 xl:flex xl:flex-row xl:flex-wrap xl:items-start">
          {whyUsItems.map((item, index) => {
            if (index < whyUsItems.length && index !== whyUsItems.length - 1) {
              return (
                <li
                  data-aos="fade-up"
                  data-aos-delay={300 + index * 200}
                  data-aos-once="true"
                  class={"relative flex md:flex-[0_0_280px] w-full items-center justify-center gap-4"}
                >
                  <WhyUsItem {...item} />
                  <div class="divider absolute right-0 translate-x-2 md:translate-x-[calc(24px+1px)] top-0 hidden min-h-[100px] h-full w-px bg-[#E1E1E1] opacity-50 lg:block" />
                </li>
              );
            }
            return (
              <li
                data-aos="fade-up"
                data-aos-delay={300 + index * 200}
                data-aos-once="true"
                class={"flex md:flex-[0_0_280px] w-full  flex-col items-center gap-4"}
              >
                <WhyUsItem {...item} />
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</section>

<script is:inline>
  const list = document.querySelector('.why-us-list');

  const dividers = list?.querySelectorAll('li .divider')

  let maxBlockHeight = 0;

  dividers.forEach(divider => {
    if (maxBlockHeight < divider.getBoundingClientRect().height) {
      maxBlockHeight = divider.getBoundingClientRect().height
    }
  });

  dividers.forEach(divider => {
    divider.style.height = `${maxBlockHeight}px`
  });
  
</script>

<style>
  .ComponentSectionsWhyUs ul li:nth-child(4n) .divider {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 991px) {
  .ComponentSectionsWhyUs ul li:nth-child(2n) .divider {
    display: none;
  }
}
</style>