---
// Import the necessary dependencies
import PrimaryCTA from '@components/ui/buttons/PrimaryCTA.astro';
import SecondaryCTA from '@components/ui/buttons/SecondaryCTA.astro';

// Define props from Astro
const { title, subTitle, primaryBtn, primaryBtnURL, secondaryBtn, secondaryBtnURL } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
}
---

<section
  class="mx-auto flex max-w-[85rem] flex-col gap-8 bg-white py-[100px] sm:px-0 md:items-center md:gap-8 md:py-[150px] xl:px-10"
  data-aos="fade-in"
  data-aos-delay="150"
  data-aos-once="true"
>
  <h1
    class="block text-center font-(family-name:--font-helvetica-bold) text-3xl font-bold tracking-tight text-balance whitespace-pre-line text-[var(--color-gray-90)] sm:text-4xl lg:text-6xl lg:leading-tight dark:text-neutral-200"
  >
    <Fragment set:html={title} />
  </h1>
  {
    subTitle && (
      <p class="mx-auto w-full max-w-[846px] text-center text-lg leading-relaxed text-pretty text-[var(--color-neutral-gray)]">
        {subTitle}
      </p>
    )
  }
  <div class="grid w-full justify-center gap-3 sm:inline-flex">
    {primaryBtn && <PrimaryCTA title={primaryBtn} url={primaryBtnURL} noArrow className="w-[300px] h-[56px]" />}
    {
      secondaryBtn && (
        <SecondaryCTA
          title={secondaryBtn}
          url={secondaryBtnURL}
          className="w-[192px] h-[56px] text-[var(--color-primary)]"
          arrow
        />
      )
    }
  </div>
</section>
