---
// Import the necessary dependencies
import { Image } from "astro:assets";

import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";

// Define TypeScript interface for props
interface Props {
  title: string;
  subtitle?: string | null;
  primaryBtnLabel?: string | null;
  primaryBtnURL?: string | null;
  secondaryBtnLabel?: string | null;
  secondaryBtnURL?: string | null;
  bgImgSrc?: any;
  bgImgAlt?: string | null;
  avatars?: Array<string> | null;
  withReview?: boolean | null;
  starCount?: number | null;
  reviews?: string | null;
  rating?: string | null;
}

// Define props from Astro
const {
  title,
  subtitle,
  primaryBtnLabel,
  primaryBtnURL,
  secondaryBtnLabel,
  secondaryBtnURL,
  bgImgSrc,
  bgImgAlt,
} = Astro.props;

import { abs } from "@/gql/services/cmsImage";

const fullBgImgSrc = abs(bgImgSrc?.formats?.large?.url ?? bgImgSrc?.url);
---

<section
  class="mx-auto grid min-h-[636px] max-w-[85rem] gap-4 py-14 pt-[86px] sm:px-0 md:min-h-[700px] md:items-center md:gap-8 xl:px-10"
>
  {
    bgImgSrc && bgImgAlt && (
      <div
        class="pointer-events-none absolute top-0 left-0 -z-20 h-[636px] w-full overflow-hidden bg-white md:h-[700px]"
        id="main-banner-img"
      >
        <Image
          src={fullBgImgSrc || "/public/boardImg1.png"}
          width={1440}
          height={700}
          alt={bgImgAlt}
          class="h-full w-full scale-110 object-cover object-center"
          draggable={"false"}
          loading={"eager"}
          format={"jpg"}
        />
        {/* <div class="absolute top-0 left-0 z-0 h-full w-full bg-black/70" /> */}
      </div>
    )
  }
  <div>
    <h1
      class="block text-center text-3xl font-bold tracking-tight text-balance whitespace-pre-line text-white sm:text-4xl lg:text-6xl lg:leading-tight dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h1>
    {
      subtitle && (
        <p class="mt-3 w-full text-center text-lg leading-relaxed text-pretty text-white dark:text-neutral-400">
          {subtitle}
        </p>
      )
    }
    <div class="mt-7 grid w-full justify-center gap-3 sm:inline-flex">
      {
        primaryBtnLabel && (
          <PrimaryCTA
            title={primaryBtnLabel}
            url={primaryBtnURL}
            noArrow
            className="w-[300px] h-[56px]"
          />
        )
      }
      {
        secondaryBtnLabel && (
          <SecondaryCTA
            title={secondaryBtnLabel}
            url={secondaryBtnURL}
            arrow
            className="w-[300px] h-[56px] text-white"
          />
        )
      }
    </div>
  </div>
</section>

<style>
  img {
    width: 100%;
    clip-path: path(
      "M0 0H1440V615C1440 620.523 1435.52 625 1430 625H1063.3C1044.17 625 1025.44 630.488 1009.33 640.812L941.667 684.188C925.561 694.512 906.831 700 887.7 700H0V0Z"
    );
    filter: brightness(0.3);
  }
</style>
