---
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";

import { buildStrapiResponsive } from "@/utils/strapiImg";

interface Props {
  title: string;
  subtitle?: string | null;
  primaryBtnLabel?: string | null;
  primaryBtnURL?: string | null;
  secondaryBtnLabel?: string | null;
  secondaryBtnURL?: string | null;
  bgImgSrc?: any;
  bgImgAlt?: string | null;
}

const { title, subtitle, primaryBtnLabel, primaryBtnURL, secondaryBtnLabel, secondaryBtnURL, bgImgSrc, bgImgAlt } =
  Astro.props;

const builtBgImg = buildStrapiResponsive(bgImgSrc);
---

<section
  class="mx-auto grid min-h-[636px] max-w-[85rem] gap-4 px-4 py-14 pt-[86px] md:min-h-[700px] md:items-center md:gap-8 xl:px-10"
>
  {
    bgImgSrc && bgImgAlt && (
      <div
        class="pointer-events-none absolute top-0 left-0 -z-20 h-[636px] w-full overflow-hidden bg-white md:h-[700px]"
        id="main-banner-img"
      >
        <Image
          src={builtBgImg.src}
          width={builtBgImg.width}
          height={builtBgImg.height}
          srcset={builtBgImg.srcset}
          sizes="(max-width: 500px) 500px, 100vw"
          alt={bgImgSrc.alternativeText ?? bgImgAlt ?? "background image"}
          draggable={"false"}
          loading={"eager"}
          fetchpriority={"high"}
          class="h-full w-full scale-110 object-cover object-center"
        />
        <div class="absolute top-0 left-0 z-0 h-full w-full bg-black/30" />
      </div>
    )
  }
  <div data-aos="fade-in" data-aos-delay="500" data-aos-once="true">
    <h1
      class="block text-center font-(family-name:--font-helvetica-bold) text-3xl font-black tracking-tight text-balance whitespace-pre-line text-white sm:text-4xl lg:text-6xl lg:leading-tight dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h1>
    {subtitle && <p class="mt-3 w-full text-center text-lg leading-relaxed text-pretty text-white">{subtitle}</p>}
    <div class="mt-7 grid w-full justify-center gap-3 sm:inline-flex">
      {
        primaryBtnLabel && primaryBtnURL && (
          <PrimaryCTA title={primaryBtnLabel} url={primaryBtnURL} noArrow className="w-full md:w-[300px] h-[56px]" />
        )
      }
      {
        secondaryBtnLabel && secondaryBtnURL && (
          <SecondaryCTA
            title={secondaryBtnLabel}
            url={secondaryBtnURL}
            arrow
            className="w-full md:w-[300px] h-[56px] text-white"
          />
        )
      }
    </div>
  </div>
</section>

<style>
  /* img {
    width: 100%;
    clip-path: path(
      'M0 0H1440V615C1440 620.523 1435.52 625 1430 625H1063.3C1044.17 625 1025.44 630.488 1009.33 640.812L941.667 684.188C925.561 694.512 906.831 700 887.7 700H0V0Z'
    );
    filter: brightness(0.3);
  } */
</style>
