---
import SectionCorner from "../../SectionCorner.astro";
import RoadMapItem from "./RoadMapItem.astro";
import RoadMapMobileItem from "./RoadMapMobileItem.astro";
import type { IRoadMapItem } from "./RoadMapItem.astro";

const { title, roadMapItems } = Astro.props;

export interface RoadMapSectionProps {
  title: string;
  roadMapItems?: IRoadMapItem[];
}

interface Props extends RoadMapSectionProps {}
---

<section
  class="relative mx-auto gap-8 bg-[var(--color-primary)] px-4 py-[100px] selection:bg-white! selection:text-[#524CF2]! md:items-center md:gap-8 md:px-10 md:py-[134px] xl:px-10"
>
  <SectionCorner className="text-[#F5F5F5]" position="top-left" />
  <SectionCorner className="text-[#F7F7F7]" position="bottom-right" />

  <div
    class="m-auto flex max-w-[85rem] flex-col text-white overflow-hidden"
    data-aos="fade-up"
    data-aos-delay="150"
    data-aos-once="true"
  >
    <h1
      class="block text-center font-helvetica-black text-[32px] text-balance whitespace-pre-line  md:text-[52px] lg:text-[52px] leading-[120%]"
    >
      <Fragment set:html={title} />
    </h1>


    {
      roadMapItems && (
        <div class="mt-[90px] embla block h-fit lg:hidden" id="mobile-road-map">
          <div class="embla__container flex w-full flex-row flex-nowrap gap-4 relative">

            {roadMapItems.map((item, index) => {
              if (index < roadMapItems.length && index !== roadMapItems.length - 1) {
                return (
                  <div class="embla__slide relative flex w-fit flex-[0_0_100%] flex-col items-center">
                    <RoadMapMobileItem {...item} index={index} />
                    <div class="absolute top-[82px] right-[-20%] -z-10 h-[1px] w-[calc(35%)] bg-white opacity-50 sm:block"></div>
                  </div>
                );
              }
              return (
                <div class="embla__slide relative flex w-fit flex-[0_0_100%] flex-col items-center">
                  <RoadMapMobileItem {...item} index={index} />
                </div>
              );
            })}
          </div>
        </div>
      )
    }

    {
      roadMapItems && (
        <div
          class="mt-[90px] hidden w-full flex-col items-center justify-center sm:flex-row lg:flex"
          id="road-map-titles"
        >
          {roadMapItems.map((item, index) => {
            if (index < roadMapItems.length && index === roadMapItems.length - 1) {
              return (
                <div class="relative flex h-[280px] flex-1 flex-col items-center gap-4"
                  data-aos="fade-up"
                  data-aos-delay={200 + index * 100}
                  data-aos-once="true"
                >
                  <RoadMapItem {...item} index={index} />
                  <div class="absolute top-[3px] left-0 -z-10 mt-6 hidden h-[110px] w-[1px] rotate-90 bg-white opacity-50 sm:block" />
                  <div class="absolute top-[3px] right-0 -z-10 mt-6 hidden h-[110px] w-[1px] rotate-90 bg-white opacity-50 sm:block" />
                  <h4 class="mt-auto text-2xl font-bold">
                    {item.date
                      ? new Date(item.date).toLocaleDateString("en-US", {
                          year: "numeric",
                          month: "2-digit",
                        })
                      : null}
                  </h4>
                </div>
              );
            }
            if (index < roadMapItems.length && index !== roadMapItems.length - 1) {
              return (
                <div 
                  class="relative flex h-[280px] flex-1 flex-col items-center gap-4" 
                  data-aos="fade-up"
                  data-aos-delay={200 + index * 100}
                  data-aos-once="true"
                >
                  <RoadMapItem {...item} index={index} />
                  <div class="absolute top-[3px] left-0 -z-10 mt-6 hidden h-[110px] w-[1px] rotate-90 bg-white opacity-50 sm:block" />
                  <h4 class="mt-auto text-2xl font-bold">
                    {item.date
                      ? new Date(item.date).toLocaleDateString("en-US", {
                          year: "numeric",
                          month: "2-digit",
                        })
                      : null}
                  </h4>
                </div>
              );
            }
            return (
              <RoadMapItem {...item} index={index} />
                <h4 class="mt-auto text-2xl font-bold">
                  {
                    item.date
                      ? new Date(item.date).toLocaleDateString("en-US", {
                          year: "numeric",
                          month: "2-digit",
                        })
                      : null
                  }
                </h4>
            );
          })}
        </div>
      )
    }
    {
      roadMapItems && (
        <div
          class="mx-auto mt-10 hidden md:flex w-full max-w-[910px] flex-col items-center justify-center text-center"
          id="road-map-descriptions"
          data-aos="fade-up"
          data-aos-delay={400}
          data-aos-once="true"
        >
          {roadMapItems.map((item) => {
            return <p class="hidden text-center text-[18px]">{item.description}</p>;
          })}
        </div>
      )
    }
  </div>
</section>

<style is:global>
  #road-map-titles .selected p {
    font-weight: 700;
  }
  #road-map-titles .selected .square {
    background-color: #ffffff40;
  }
</style>

<style>
  @media screen and (max-width: 768px) {
    .embla {
      width: 100%;
      max-width: 1280px;
      --slide-height: 334px;
      --slide-spacing: 0;
      --slide-size: 100%;
    }
    .embla__viewport {
      overflow: hidden;
    }
    .embla__container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      margin-left: calc(var(--slide-spacing) * -1);
    }
    .embla__slide {
      transform: translate3d(0, 0, 0);
      flex: 0 0 var(--slide-size);
      min-width: 0;
      margin-left: var(--slide-spacing);
    }
  }
</style>

<script>
  const roadMapTitlesWrapper = document.querySelector("#road-map-titles") as HTMLElement;
  const roadMapDescriptionsWrapper = document.querySelector("#road-map-descriptions") as HTMLElement;

  if (roadMapTitlesWrapper && roadMapDescriptionsWrapper) {
    const allItems = roadMapTitlesWrapper.querySelectorAll(`[data-item-index]`) as NodeListOf<HTMLElement>;

    allItems.forEach((item) => {
      const square = item.querySelector(".square");
      if (square) {
        square.addEventListener("click", () => {
          selectItem(item.dataset.itemIndex ? Number.parseInt(item.dataset.itemIndex) : 0);
        });
      }
    });
  }

  function selectItem(itemNumber: number) {
    if (!roadMapTitlesWrapper) return;
    if (!roadMapDescriptionsWrapper) return;

    const allItems = roadMapTitlesWrapper.querySelectorAll(`[data-item-index]`) as NodeListOf<HTMLElement>;

    allItems.forEach((item) => {
      item.classList.remove("selected");

      if (item.dataset.itemIndex) {
        if (Number.parseInt(item.dataset.itemIndex) === itemNumber) {
          item.classList.add("selected");
        }
      }
    });

    const allDescriptions = roadMapDescriptionsWrapper.querySelectorAll("p") as NodeListOf<HTMLElement>;

    allDescriptions.forEach((descItem) => {
      descItem.classList.add("hidden");

      allDescriptions[itemNumber].classList.remove("hidden");
    });
  }

  selectItem(0);
</script>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from "embla-carousel";
  import { addPrevNextBtnsClickHandlers } from "@scripts/emblaSliderButtons";

  const emblaNode = document.querySelector("#mobile-road-map");
  const options: EmblaOptionsType = { loop: false, align: "start", dragFree: false };
  const emblaApi = EmblaCarousel(emblaNode! as HTMLElement, options);

  const prevBtnNode = emblaNode!.querySelector(".embla__button--prev") as HTMLElement;
  const nextBtnNode = emblaNode!.querySelector(".embla__button--next") as HTMLElement;

  if (prevBtnNode && nextBtnNode) {
    const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(emblaApi, prevBtnNode, nextBtnNode);

    emblaApi.on("destroy", removePrevNextBtnsClickHandlers);
  }


</script>
