---
// Importing necessary components
import Meta from "@components/Meta.astro";
import Navbar from "@components/sections/navbar&footer/Navbar.astro";
import FooterSection from "@components/sections/navbar&footer/FooterSection.astro";
import { SITE } from "@data/constants";
import "@styles/global.css";
import "toastify-js/src/toastify.css"
import type { StrapiImageType } from "@/types/common";

// Setting expected props
const {
  title = SITE.title,
  meta,
  structuredData,
  lang = "en",
  customDescription = null,
  customOgTitle = null,
  customFooterImage = null,
} = Astro.props;

// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
  customDescription?: string | null;
  customOgTitle?: string | null;
  customFooterImage?: StrapiImageType | null;
}
---

<html lang={lang} class="lenis lenis-smooth scroll-pt-16">
  <head>
    {/* Adding metadata to the HTML document */}
    <Meta
      meta={meta}
      structuredData={structuredData}
      customDescription={customDescription}
      customOgTitle={customOgTitle}
    />
    {/* Define the title of the page */}
    <script src="../utils/aos.js"></script>
    <script src="../utils/setCornerColor.js"></script>
    <title>{title}</title>
  </head>
  <body
    class="flex min-h-screen flex-col bg-white selection:bg-[#524CF2] selection:text-white dark:bg-neutral-800"
  >
    <Navbar />

    <div class="mx-auto w-full grow">
      <main>
        <slot />
      </main>
    </div>

    <FooterSection customFooterImage={customFooterImage} />

    <script>
      import "preline/preline.js";
    </script>
    <script>
      import FontFaceObserver from "fontfaceobserver";

      const font = new FontFaceObserver("Helvetica Now");

      font.load().then(() => {
        document.documentElement.classList.add("font-loaded");
      });
    </script>
    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>

    <style is:global>
      button[disabled="disabled"] {
        opacity: 0.5;
        transition-duration: 400ms;
      }
    </style>
  </body>
</html>
