---
import type { FormType } from "@/types/formTypes";

interface Props {
  title: string;
  subTitle?: string;
  form?: FormType | null;
}

const { title, subTitle, form } = Astro.props;

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_URL || "http://localhost:1337";
const ENDPOINT = `${STRAPI_URL}/api/api-forms/submission/post`;
const FORM_ID = form?.documentId ?? "";
---

<section
  class="relative mx-auto flex flex-col gap-6 bg-[var(--color-dark-purple)] px-4 py-[100px] selection:bg-white! selection:text-[#524CF2]! md:items-center md:gap-8 md:py-[134px] xl:px-10"
>
  {
    title && (
      <h1 class="block max-w-[578px] text-center font-(family-name:--font-helvetica-bold) text-3xl font-bold tracking-tight text-balance whitespace-pre-line text-white sm:text-4xl lg:text-6xl lg:leading-tight dark:text-neutral-200">
        <Fragment set:html={title} />
      </h1>
    )
  }
  {
    subTitle && (
      <p class="mx-auto w-full max-w-[578px] text-center text-lg leading-relaxed text-pretty text-[#FFFFFFB2]">
        {subTitle}
      </p>
    )
  }
  {
    form && (
      <form
        class="flex w-full flex-col items-center"
        data-endpoint={ENDPOINT}
        data-form-id={FORM_ID}
        onsubmit="return handleSubmit(event, this)"
    >
        <!-- Form fields go here -->
    </form>
    )
  }
</section>

---
