---
import type { StrapiImageType } from "@/types/common";
import { buildStrapiResponsive } from "@/utils/strapiImg";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import { Image } from "astro:assets";

const { business_unit, imgPositionLeft, customWrapperStyle } = Astro.props;

export interface ServiceSectionProps {
  business_unit?: {
    title: string;
    description?: string;
    url?: string;
    imgAlt?: string;
    img?: StrapiImageType;
  };
  imgPositionLeft?: boolean;
  customWrapperStyle?: string;
}

interface Props extends ServiceSectionProps {}

let builtImg = null;

if (business_unit?.img) {
  builtImg = buildStrapiResponsive(business_unit?.img);
}

const customWrapperStyleStr = customWrapperStyle ? customWrapperStyle : "";
---

{
  business_unit && (
    <section
      class="header-text-dark mx-auto flex flex-col gap-6 bg-[#f5f5f5] px-4 py-8 md:items-center md:gap-8 md:py-[45px]"
      style={customWrapperStyleStr}
    >
      <div class="flex w-full max-w-7xl flex-col gap-4 rounded-2xl bg-white shadow-[0px_4px_20px_0px_#00000026] md:flex-row md:gap-8 md:bg-transparent md:shadow-none">
        <div
          class={`flex-[0_1_50%] ${imgPositionLeft ? "md:order-0" : "md:order-1"}`}
          data-aos="fade-up"
          data-aos-delay="150"
          data-aos-once="true"
        >
          {builtImg && (
            <Image
              src={builtImg.src}
              width={builtImg.width}
              height={builtImg.height}
              srcset={builtImg.srcset}
              sizes="(max-width: 500px) 500px, 100vw"
              alt={builtImg.alt ?? business_unit?.imgAlt ?? business_unit.title + " image"}
              draggable={"false"}
              loading={"eager"}
              fetchpriority={"high"}
              class="m-auto h-full max-h-[440px] w-full max-w-7xl overflow-hidden rounded-2xl object-cover object-center"
            />
          )}
        </div>

        <div class={`flex-[0_1_50%] px-4 ${imgPositionLeft ? "md:order-1" : "md:order-0"}`}>
          <h1
            class="text-text-main font-black block text-[32px] leading-[120%] md:text-start lg:text-[42px]"
            data-aos="fade-up"
            data-aos-delay="350"
            data-aos-once="true"
          >
            <Fragment set:html={business_unit?.title} />
          </h1>
          {business_unit.description && (
            <p
              class="text-text-secondary  mx-auto mt-6 w-full max-w-[846px] text-lg text-pretty md:mt-5 md:text-start"
              data-aos="fade-up"
              data-aos-delay="450"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom"
            >
              {business_unit.description}
            </p>
          )}
          {business_unit.url && (
            <div
              class="mx-auto mt-6 mb-8 w-full max-w-[320px] justify-center gap-3 md:mx-0 md:w-fit md:justify-start"
              data-aos="fade-up"
              data-aos-delay="550"
              data-aos-once="true"
              data-aos-anchor-placement="top-bottom"
            >
              <SecondaryCTA
                title={"Learn more"}
                url={business_unit.url}
                className="w-full md:h-[46px] text-primary h-14"
                arrow
              />
            </div>
          )}
        </div>
      </div>
    </section>
  )
}
