---
import type { StrapiImageType } from "@/types/common";
import { buildStrapiResponsive } from "@/utils/strapiImg";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import { Image } from "astro:assets";

const { title, subtitle, primaryBtnLabel, primaryBtnURL, secondaryBtnLabel, secondaryBtnURL, profilePictures } =
  Astro.props;

export interface AboutAltSectionProps {
  profilePictures?: StrapiImageType[];
  title: string;
  subtitle?: string;
  primaryBtnLabel?: string;
  primaryBtnURL?: string;
  secondaryBtnLabel?: string;
  secondaryBtnURL?: string;
}

interface Props extends AboutAltSectionProps {}
---

<section class="header-text-dark mx-auto flex flex-col gap-6 bg-white px-4 py-[100px] md:items-center md:gap-8">
  <div data-aos="fade-in" data-aos-delay="150" data-aos-once="true" class="w-full">
    {
      profilePictures && (
        <div class="relative mb-8 flex justify-center">
          <div class="relative flex w-fit -space-x-2.5">
            {profilePictures.map((imgItem, index) => {
              const builtImg = buildStrapiResponsive(imgItem);
              const imgElClass = `h-20 w-20 rounded-full relative top-0 left-[calc(100%-80px*${index}-5px*-${profilePictures.length - index})]`;

              if (builtImg)
                return (
                  <Image
                    src={builtImg.src}
                    width={82}
                    height={82}
                    alt={builtImg.alt || "profile image"}
                    draggable={"false"}
                    loading={"eager"}
                    fetchpriority={"high"}
                    class={imgElClass}
                  />
                );
            })}
          </div>
        </div>
      )
    }

    <h1
      class="font-helvetica-black text-text-text-main mb-6 block text-center text-3xl leading-[120%] font-bold text-balance whitespace-pre-line lg:text-[52px] dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h1>
    {
      subtitle && (
        <p class="text-text-text-secondary mx-auto mt-6 w-full max-w-[846px] text-center text-lg text-pretty">
          {subtitle}
        </p>
      )
    }
    {
      (primaryBtnLabel || secondaryBtnLabel) && (
        <div class="mt-8 grid w-full justify-center gap-3 sm:inline-flex">
          {primaryBtnLabel && (
            <PrimaryCTA title={primaryBtnLabel} url={primaryBtnURL} noArrow className="w-fit h-[46px]" />
          )}
          {secondaryBtnLabel && (
            <SecondaryCTA
              title={secondaryBtnLabel}
              url={secondaryBtnURL}
              className="w-fit h-[46px] text-primary"
              arrow
            />
          )}
        </div>
      )
    }
  </div>
</section>
