---
import WhyUsItem from "../pros/WhyUsItem.astro";
import SectionCorner from "../SectionCorner.astro";

const { title, items, id, __typename } = Astro.props;

export interface WhyThisUnitItem {
  title: string;
  text: string;
}

export interface WhyThisUnitProps {
  title: string;
  items?: WhyThisUnitItem[];
  id: string;
  __typename: string;
}

interface Props extends WhyThisUnitProps {}
---

<section
  class={`${__typename} bg-primary relative mx-auto gap-8 px-4 py-[100px] selection:bg-white! selection:text-[#524CF2]! md:items-center md:gap-8 md:py-[134px] xl:px-10`}
  id={`${__typename}-${id}`}
>
  <SectionCorner className="text-gray-10" position="top-left" />
  <SectionCorner className="text-[white]" position="bottom-right" />

  <div class="m-auto flex max-w-7xl flex-col text-white" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
    <h1
      class="  block text-center text-[32px] leading-[120%] font-black text-balance whitespace-pre-line md:text-[52px] lg:text-[52px] dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h1>

    {
      items && (
        <ul class="mt-[90px] flex w-full flex-col items-center justify-center gap-6 sm:grid sm:justify-items-center md:grid-cols-2 xl:flex xl:flex-row xl:flex-wrap xl:items-start">
          {items.map((item, index) => {
            return (
              <li
                data-aos="fade-up"
                data-aos-delay={300 + index * 200}
                data-aos-once="true"
                class={"w-full flex flex-row flex-nowrap gap-3 flex-[1_1_45%]"}
              >
                <svg class="min-w-6 min-h-6 mt-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 6L9 17L4 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <div>
                  <p class="text-[22px] font-bold leading-[150%] text-white">{item.title}</p>
                  <p class="text-base font-light leading-[140%] mt-3 text-white">{item.text}</p>
                </div>
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</section>

<style>
  .ComponentSectionsWhyUs ul li:nth-child(4n) .divider {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 991px) {
  .ComponentSectionsWhyUs ul li:nth-child(2n) .divider {
    display: none;
  }
}
</style>