---
import SecondaryCTA from "@/components/ui/buttons/SecondaryCTA.astro";
import { Image } from "astro:assets";
import type { NewsItem } from "@/types/sectionTypes";
import { buildStrapiResponsive } from "@/utils/strapiImg";

const { title, subTitle, newsList } = Astro.props;

export interface NewsSectionProps {
  title: string;
  subTitle?: string;
  newsList: NewsItem[];
}

interface Props extends NewsSectionProps {}
---

<section
  class="header-text-dark mx-auto gap-8 overflow-hidden bg-[#F7F7F7] px-4 py-[100px] md:items-center md:gap-8 md:py-[134px] xl:px-10"
>
  <h1
    class="font-black  text-gray-90 block text-center text-2xl text-balance whitespace-pre-line lg:text-[52px]"
    data-aos="fade-up"
    data-aos-delay="150"
    data-aos-once="true"
  >
    <Fragment set:html={title} />
  </h1>
  {
    subTitle && (
      <p
        class="text-text-secondary mx-auto mt-8 w-full max-w-[846px] text-center text-lg text-pretty"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-once="true"
      >
        {subTitle}
      </p>
    )
  }
  {
    newsList.length > 0 && (
      <div class="mt-12">
        <div class="flex flex-col items-center gap-4">
          {newsList.map((item, i) => {
            if (item) {
              const itemImg = buildStrapiResponsive(item.img);

              return (
                <div
                  class="embla__slide w-full overflow-hidden rounded-2xl bg-white md:max-w-[820px]"
                  data-aos="fade-up"
                  data-aos-delay={300 + i * 200}
                  data-aos-once="true"
                >
                  <div class="flex flex-col justify-between gap-4 p-4 md:flex-row md:items-center">
                    <div class="flex flex-col">
                      <a href={item.url} class="font-bold  line-clamp-2 text-xl">
                        {item.title}
                      </a>
                      <span class="text-text-secondary mt-2 block text-sm">
                        {item.date
                          ? new Date(item.date).toLocaleDateString("en-US", {
                              year: "numeric",
                              month: "long",
                              day: "numeric",
                            })
                          : null}
                      </span>
                    </div>

                    <SecondaryCTA title="View details" arrow className="text-primary h-10 min-w-fit" url={item.url} />
                  </div>
                </div>
              );
            }
          })}
        </div>
      </div>
    )
  }
</section>
