---
import SecondaryCTA from "@/components/ui/buttons/SecondaryCTA.astro";
import { Image } from "astro:assets";
import type { NewsItem } from '@/types/sectionTypes'
import { buildStrapiResponsive } from "@/utils/strapiImg";

const { title, subTitle, newsList } = Astro.props;

export interface NewsAltSectionProps {
  title: string;
  subTitle?: string;
  newsList: NewsItem[];
}

interface Props extends NewsAltSectionProps {}

---

<section 
  class="mx-auto gap-8 bg-[#F7F7F7] header-text-dark px-4 py-[100px] md:gap-8 md:py-[134px] md:px-10 overflow-hidden"
>
  <div class="flex flex-col md:flex-row max-w-7xl m-auto">
    {
      newsList.length > 0 && (
        <div class="flex flex-col w-full md:min-w-[391px] md:w-[391px] bg-[#F7F7F7] h-full z-10 md:min-h-[457px] alt-news-text pr-4">
          <h1
              class="md:text-start text-center font-helvetica-black block text-[32px] text-balance whitespace-pre-line text-gray-90 lg:text-[52px]"
              data-aos="fade-up"
              data-aos-delay="150"
              data-aos-once="true"
            >
            <Fragment set:html={title} />
          </h1>
          {
            subTitle && (
              <p 
                class="mx-auto md:text-start tracking-wide text-center mt-8 w-full max-w-[846px] text-lg text-neutral-gray"
                data-aos="fade-up"
                data-aos-delay="150"
                data-aos-once="true"
          >
                {subTitle}
              </p>
            )
          }
          <div class="mt-8 md:mt-auto inline-flex gap-1 w-full justify-center md:justify-start mb-8"             
            data-aos="fade-up"
            data-aos-delay="150"
            data-aos-once="true"
          >
            <span class="text-text-secondary">Archive:</span>
            <span class="text-primary font-bold">2025</span>
            <div class="w-px h-4 mt-1 bg-text-secondary"></div>
            <span class="text-primary">2026</span>
          </div>
        </div>

        <div class="embla" id="news-slider">
          <div class="embla__container">
          {newsList.map((item, i) => {
            if (item) {
              const itemImg = buildStrapiResponsive(item.img);

              return (
                <div 
                  class="w-full overflow-hidden rounded-2xl bg-white embla__slide md:max-w-[820px]"
                  data-aos="fade-up"
                  data-aos-delay={300 + i * 200}
                  data-aos-once="true"
                >

                  {itemImg ? (
                    <Image
                      src={itemImg.src}
                      alt={item.imgAlt || item.img.alternativeText || "News Image"}
                      height={itemImg.height}
                      width={itemImg.width}
                      class={"w-full md:w-[375px] object-cover max-h-[216px]"}
                      sizes="(max-width: 500px) 500px, 100vw"
                      draggable={"false"}
                      loading={"eager"}
                      fetchpriority={"high"}
                    />
                  ) : (
                    <svg width="100%" height="100%" viewBox="0 0 120 120" class="w-full md:w-[375px] object-cover max-h-[216px]" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M33.2503 38.4816C33.2603 37.0472 34.4199 35.8864 35.8543 35.875H83.1463C84.5848 35.875 85.7503 37.0431 85.7503 38.4816V80.5184C85.7403 81.9528 84.5807 83.1136 83.1463 83.125H35.8543C34.4158 83.1236 33.2503 81.957 33.2503 80.5184V38.4816ZM80.5006 41.1251H38.5006V77.8751L62.8921 53.4783C63.9172 52.4536 65.5788 52.4536 66.6039 53.4783L80.5006 67.4013V41.1251ZM43.75 51.6249C43.75 54.5244 46.1005 56.8749 49 56.8749C51.8995 56.8749 54.25 54.5244 54.25 51.6249C54.25 48.7254 51.8995 46.3749 49 46.3749C46.1005 46.3749 43.75 48.7254 43.75 51.6249Z" fill="#687787"/>
                    </svg>
                  )}

                  
                  <div class="p-4 flex flex-col md:items-center justify-between gap-4">
                    <div class="flex flex-col">
                      <a href={item.url} class="line-clamp-2 text-xl font-helvetica-bold font-bold text-text-main">{item.title}</a>
                      <p class="text-lg line-clamp-3 mt-6 text-text-secondary">{item.description}</p>
                    </div>

                    <div class="flex flex-col md:flex-row w-full md:justify-between md:items-center md:mb-4">
                      <SecondaryCTA title="View details" arrow className="text-primary h-10 min-w-fit w-full md:w-fit" url={item.url} />

                      <span class="text-text-secondary block mt-4 md:mt-0">
                        {item.date ? new Date(item.date).toLocaleDateString("en-US", {
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        }): null}
                      </span>
                    </div>
                  </div>
                </div>
              )
            }
          })}
          </div>
        </div>
      )
    }
  </div>
</section>

<style>
  .embla {
    width: 100%;
    max-width: 1280px;
    --slide-height: 323px;
    --slide-spacing: 2rem;
    --slide-size: 375px;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    margin-left: var(--slide-spacing);
  }
  .alt-news-text::before {
    content: "";
    display: block;
    pointer-events: none;
    width: 100dvw;
    position: absolute;
    transform: translateX(calc(-100%));
    height: 457px;
    background-color: #F7F7F7;
  }
  @media screen and (max-width: 768px) {
    .embla {
      width: 100%;
      max-width: 1280px;
      --slide-height: 323px;
      --slide-spacing: 2rem;
      --slide-size: 75%;
    }
    .embla__viewport {
      overflow: hidden;
    }
    .embla__container {
      display: flex;
      touch-action: pan-y pinch-zoom;
      margin-left: calc(var(--slide-spacing) * -1);
    }
    .embla__slide {
      transform: translate3d(0, 0, 0);
      flex: 0 0 var(--slide-size);
      min-width: 0;
      margin-left: var(--slide-spacing);
    }
  }
</style>

<script>
  import EmblaCarousel, { type EmblaCarouselType, type EmblaOptionsType } from 'embla-carousel';

  let embla: EmblaCarouselType | null = null;

  function setupEmbla() {
    if (typeof window === 'undefined') return;

    const emblaNode = document.querySelector('#news-slider') as HTMLElement | null;

    const options: EmblaOptionsType = { loop: false, align: "start", dragFree: true };
    embla = EmblaCarousel(emblaNode as HTMLElement, options)
  }

  setupEmbla();
</script>
