---
import FormLayout from "@/components/ui/forms/FormLayout.astro";
import type { FormType } from "@/types/formTypes";
import '@styles/forms.css';

interface Props {
  title: string;
  subTitle?: string;
  form: FormType | null;
  submitBtnLabel: string | null;
}

const { title, subTitle, form, submitBtnLabel } = Astro.props;

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_URL || "http://localhost:1337";
const ENDPOINT = `${STRAPI_URL}/api/api-forms/submission/post`;
const FORM_ID = form?.documentId ?? "";

---

<section
  class="header-text-dark bg-[#f5f5f5] relative mx-auto flex flex-col gap-6 md:px-4 py-[100px] md:items-center md:gap-8 md:py-[134px] xl:px-10"
>
  <div class="bg-white shadow-card px-5 py-12 md:p-12 max-w-[846px] w-full rounded-xl flex flex-col items-center">
    <h1
      class="mx-auto block max-w-[578px] text-center text-3xl leading-[120%] font-black text-balance whitespace-pre-line text-text-main lg:text-[52px]"
    >
      <Fragment set:html={title} />
    </h1>

    {subTitle && <p class="mt-3 mx-auto w-full max-w-[578px] text-center text-lg text-text-secondary">{subTitle}</p>}

    <FormLayout form={form} submitBtnLabel={submitBtnLabel} formId="cv-form" />
  </div>
  
</section>
